# Functional Programming:

In [2]:
# Find Large number from given input:
# Input: 65461319
# Output:9
def large(n):
    large = 0
    while n != 0:
        a = n %10
        if large < a:
            large = a
        n = n//10
    return large
large(319)

9

In [3]:
# Input : 123
# output: 321
def reverse(n):
    rev = 0
    while n != 0:
        a = n %10
        rev = rev * 10 + a
        n = n//10
    return rev
reverse(123)

321

In [6]:
# check given is palindrome or not
# 123 - 321  - not palidrome
# 121 - 121 - palidrome number 
def reverse1(n):
    rev = 0
    buffer = n
    while n != 0:
        a = n %10
        rev = rev * 10 + a
        n = n//10
    if buffer == rev:
        return "Yes"
    else:
        return "No"
reverse1(123)

'No'

In [7]:
reverse1(121)

'Yes'

In [8]:
# Print n Natural Number with for loop using function
def naturalnumber(n):
    for i in range(1,n+1):
        print(i,end = " ")
naturalnumber(10)

1 2 3 4 5 6 7 8 9 10

In [9]:
naturalnumber(50)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [10]:
naturalnumber(30)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

# Dictionary:
- It is used to store data values in key:value pairs
- Dic Object separates key and value by using colon symbol and key:value separated by comma and enclosed with curly brackets.

In [11]:
d = {"name":"Ajay","age":"20","city":"hyderabad"}
print(d)

{'name': 'Ajay', 'age': '20', 'city': 'hyderabad'}

In [12]:
# Access key names
d.keys()

dict_keys(['name', 'age', 'city'])

In [13]:
# access values
d.values()

dict_values(['Ajay', '20', 'hyderabad'])

In [14]:
#access items
d.items()

dict_items([('name', 'Ajay'), ('age', '20'), ('city', 'hyderabad')])

In [15]:
# access particular key
d = {"name":"Ajay","age":"20","city":"hyderabad"}
print(d["name"])

Ajay

In [16]:
print(d["city"])

hyderabad

In [19]:
# update particular key value
d = {"name":"Ajay","age":"20","city":"hyderabad"}
d["name"] ="Vijay"
print(d)

{'name': 'Vijay', 'age': '20', 'city': 'hyderabad'}