# Data Structure:
## Tuple:
- Tuple cannot be changed
- In tuple, Items are separated by comma and enclosed with round brackets.

# Difference Between List and Tuple:
- List are mutable/can be changed/Modified.
  - Access,Modify,Add,Delete
- Tuple are immutable/Cannot be changed.
  - Access

In [2]:
t = (1,2,3,4,5)
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
# Lenght of the tuple
# len keyword
t = (1,2,3,4,5)
print(len(t))

5

In [6]:
# Access 
t = (1,2,3,4,5)
print(t[0])
print(t[-1])
#Access with range
print(t[0:4])

1
5
(1, 2, 3, 4)

In [7]:
# Update tuple - Convert tuple into list
t = (1,2,3,4,5)
t1 = list(t)
print(type(t1))

<class 'list'>

In [8]:
t = (1,2,3,4,5)
t1 = list(t)
print(t1)
t1[2] = 6
t = tuple(t1)
print(t)

[1, 2, 3, 4, 5]
(1, 2, 6, 4, 5)

# Functional Programming:
- Gruop of statements which can perform a specific task.
- Can Be used for code reuseability 
- it makes the program can be divided into multiple sub blocks.
- when the program is divided into multiple blocks reability is easy.
- In functional programming ,function can be defined with keyword **def**

In [ ]:
# syntax:
def <Function Name>(<Paramaters>):
    statements
    return

In [12]:
# add 2 numbers
def add(x,y):
    print(x+y)
    print(x-y)
    print(x *y)
    print(x/y)
add(4,5)

9
-1
20
0.8

In [13]:
add(8,9)

17
-1
72
0.8888888888888888

In [14]:
add(12,23)

35
-11
276
0.5217391304347826

In [15]:
# cube
def cube(a):
    return a*a*a
cube(5)

125

In [16]:
cube(8)

512

In [17]:
cube(9)

729

In [18]:
#input :123456
# output :(2+4+6) = 12
def even(x):
    sum = 0
    while x != 0:
        a = x%10
        if a %2 ==0:
            sum=sum+a
        x=x//10
    return sum
even(123456)

12