# Print Function:
- It is used to print a specific text or message

In [1]:
print("Hello world")

Hello world

In [3]:
print("Hello ,world!")

Hello ,world!

In [4]:
print("first","Two","Three")

first Two Three

# Variables:
- to store some data values

In [5]:
a = 10 # assigning single value to single variable
print(a)

10

In [6]:
a = b = c = 10 # multiple variable assigning to single value
print(a,b,c)

10 10 10

In [7]:
a,b,c = 1,2,3 # multiple variables assigning to multiple values
print(a,b,c)

1 2 3

# Input Function:
- Reads the input from user.

In [11]:
# input as text
a = input("Enter your name :")
print(a)
print(type(a))

Enter your name :Ajay
Ajay
<class 'str'>

In [15]:
# input as number
b = int(input("enter a number :"))
print(b)
print(type(b))

enter a number :4
4
<class 'int'>

In [16]:
n1 = int(input("Enter a number :"))
n2 = int(input("Enter a number :"))
n3 = n1+n2
print("sum of",n1,"and",n2,"is :",n3)

Enter a number :5
Enter a number :9
sum of 5 and 9 is : 14

# Data Types:
- int
- float 
- string

In [18]:
# int
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [19]:
# float
b = 1.2
print(b)
print(type(b))

1.2
<class 'float'>

In [21]:
# String
c = 'python'
print(c)
print(type(c))

python
<class 'str'>

# Data Type Conversions:
- convert one data type to another data type:
- int --> int()
- float --> float()
- string --> str()

In [24]:
i = 10
print(type(i))
s = str(i) # str convert integer to string
print(type(s))
f = float(i)
print(type(f)) # float will convert int to float

<class 'int'>
<class 'str'>
<class 'float'>

In [27]:
f = 10.2
print(type(f))
i = int(f)
print(type(i))
s = str(f)
print(type(s))

<class 'float'>
<class 'int'>
<class 'str'>

In [32]:
s = "123"
print(type(s))
i = int(s)
print(type(i))
f = float(s)
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>

# Python Operators:
- used to perform operations on variables and values

# Arithmetic Operators:
- used to perform mathematical operations
- operators:
   - **+**
   - **-**
   - *
   - **/**
   - **%**
   - **//**
   - **'**'**

In [33]:
# EXAMPLES:
a = 10
b = 5
print(a+b)
print(a-b)
print(a * b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

15
5
50
2.0
0
2
100000

# Assignment Operators:
- used to assign values to variables
- Operators
  - **=**
  - **+=**
  - **-=**
  - ***=**
  - **/=**

In [34]:
a = 3
a += 4 # a = a+4
print(a)

7

In [35]:
a = 10
a -= 4 # a =a-4
print(a)

6

In [36]:
a = 10
a *= 2
print(a)# a = a*2

20

In [37]:
a = 10
a /= 2 # a = a/2
print(a)

5.0

# Comparision Operators:
- used to compare 2 values
- Operators: 
  - **==**
  - **!=**
  - **<**
  - **>**
  - **<=**
  - **>=**

In [38]:
a = 10
b = 5
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
False
True
False
True

# Logical Operators:
- used to combine conditional statement
- Operators:
   - **and**  --> if both conditions true o/p True
   - **or**
   - **not**

In [43]:
x = 2
print(x < 3 and x> 6)
print(x < 3 or x > 6)
print(not(x < 3 and x> 6))

False
True
True

# Identity Operators:
- used to compare Objects
- Operators:
  - **is**
  - **is not**

In [46]:
a = 3
b = 5
c = a
print(a is c)
print(a is b)
print(a is not b)

True
False
True

# Merbership Operators:
- used to test given squence is presented in object
- Operators:
  - **in**
  - **not in**

In [49]:
x = "python"
print('y' in x)
print('a' in x)
print('z' not in x)

True
False
True